<header>
    <nav>
        <!-- Logos e texto -->
        <div class="logo-text-container">
            <img src="assets/img/global/logo-acesso-livre.png" alt="logo Acesso Livre" class="logo">
            <span class="logo-text">Acesso Livre</span>
            <img src="assets/img/global/logo-ifba.png" alt="logo IFBA" class="logo-ifba">
        </div>

        <!-- Botão menu mobile -->
        <button class="menu-toggle" id="menu-toggle">&#9776;</button>

        <!-- Navegação principal -->
        <ul class="nav-links" id="nav-links">
            <li><a href="Home">Home</a></li>
            <li><a href="Sobre">Sobre</a></li>
            <li><a href="Contato">Contato</a></li>
            <li><a href="Mapa">Mapa</a></li>
        </ul>
    </nav>
</header>