* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 100%;
}

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --primary-color: #0056d2;
    --secondary-color: #0a84ff;
    --text-color: #333333;
    --bg-color: #00008B;
    --bg-buttom: #1e90ff;

    --font-family-heading: "Comme", sans-serif;
    --font-family-base: "Albert Sans", sans-serif;

    --font-size-h1: 2rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.2rem;
    --font-size-h4: 1rem;
    --font-size-text: 0.875rem;

    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
}